<h1> <%= @title %> </h1>

<p>
  Mauris iaculis diam odio, sit amet fringilla est vestibulum at. Maecenas blandit magna eu convallis euismod. 
  Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin congue lacus diam, 
  sit amet malesuada sem mollis id. Nunc facilisis pellentesque purus vitae mollis. Vestibulum ac odio eleifend, 
  condimentum urna ac, porttitor dui. Nullam faucibus, velit sed dignissim rhoncus, odio magna aliquet mi, sed luctus enim dolor at sapien.<br><br>

Maecenas nec neque molestie, commodo enim sit amet, auctor augue. Nullam venenatis ullamcorper est, sed vulputate tellus eleifend vitae. 
  Nam vehicula scelerisque urna in mattis. Proin malesuada in sem in rhoncus. Fusce aliquet molestie tempor. Maecenas a aliquam felis, 
  nec porta ipsum. Pellentesque pretium pharetra venenatis. Vestibulum tincidunt elementum lorem, in vulputate lectus placerat blandit. 
  Praesent ullamcorper tempor odio, sit amet suscipit sapien vulputate non. Vivamus sagittis non nisi dapibus dignissim. Vestibulum congue 
  pharetra nisl interdum tincidunt. Mauris laoreet luctus suscipit. Phasellus facilisis egestas nisi, in gravida nibh ullamcorper id. Proin 
  tortor magna, pharetra vel lacinia at, tempor eu nisi. Pellentesque mollis, diam et malesuada feugiat, orci justo pretium erat, commodo mollis 
  ante tortor vitae purus. Vivamus bibendum vitae lacus nec suscipit.<br><br>

Nunc placerat luctus lacinia. Donec vitae sapien lectus. Nullam accumsan risus vitae lectus rhoncus mollis. In sapien turpis, 
  luctus ut nibh sed, porta commodo leo. Sed tincidunt dolor at elit viverra, id tincidunt lorem sodales. Phasellus rhoncus sed 
  ligula id suscipit. Vivamus tincidunt lobortis elit, at tincidunt erat tincidunt ut. Nullam eget orci non risus dapibus ultricies. 
  Nam nulla massa, mattis non posuere nec, adipiscing eget nisl. In ipsum purus, euismod vel ante vitae, fermentum varius orci. Nullam 
  lobortis tellus eu odio convallis aliquam. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec 
  semper enim purus, ac interdum tortor tempus et. Curabitur ultricies hendrerit sem non porta. Curabitur eu tortor vulputate, convallis 
  felis eu, sollicitudin dui.<br><br>
</p>