<h1> <%= @title %> </h1>

<p>
  Pellentesque pretium pharetra venenatis. Vestibulum tincidunt elementum lorem, in vulputate lectus placerat blandit. 
  Praesent ullamcorper tempor odio. Mauris laoreet luctus suscipit. Phasellus facilisis egestas nisi, in gravida nibh ullamcorper id. Proin 
  tortor magna, pharetra vel lacinia at, tempor eu nisi. Pellentesque mollis, diam et malesuada feugiat, orci justo pretium erat, commodo mollis 
  ante tortor vitae purus. Vivamus bibendum vitae lacus nec suscipit.<br><br>
  
  <b>Proin mattis odio nunc:</b>
   <li>Sit amet hendrerit diam vehicula ac.</li>
   <li>Suspendisse sit amet dignissim neque.</li> 
   <li>Ut sagittis velit. Vestibulum vel dui scelerisque.</li>
   <li>Sollicitudin orci non, luctus lacus.</li>
   <li>Etiam et massa eu erat imperdiet fringilla.</li>
   <li>Proin sit amet adipiscing ligula.</li>
</p>
