<h1> <%= @title %></h1>

<p>
  <li><b>The Croquet Association: </b><a href= "http://www.croquet.org.uk/"> Home</a> or <a href= "http://www.croquet.org.uk/tournament"> Event</a> </li>
  <li><b>South East Croquet: </b><a href= "http://www.southeastcroquet.org.uk/"> SECF</a>
    <li><b>Croquet Academy: </b><a href= "http://www.thecroquetacademy.com/"> The Croquet Academy </a></li>
  <li><b>Croquet Equipment: </b><a href= "http://www.oxfordcroquet.com/equip"> Mallet etc.</a>  or  <a href= "http://www.bowlsdirect.com/contact.htm"> Whites</a> </li>
  <li><b>Croquet Clossary: </b><a href= "http://www.cornwall-croquet.org.uk/croquet_glossary.htm"> Croquet Clossary </a></li> 
  <li><b>Croquet Rules: </b><a href= "http://www.croquet.org.uk/association/laws">Assoiation Rules.</a>  or  <a href= "http://www.croquet.org.uk/gold/laws/contents.htm"> Golf Rules</a> </li> 
</p>  
 