<h1> <%= @title %> </h1>

<p>
Nam ac diam enim. Vivamus sem ligula, auctor et eros vitae, cursus elementum urna. Phasellus vel odio accumsan, 
  consectetur urna sed, tristique mi. Quisque imperdiet augue in urna tempor, in laoreet nisl fermentum. Maecenas 
  laoreet arcu eget erat rutrum, sit amet interdum felis tincidunt. Nam lobortis eros id risus vestibulum, 
  non posuere turpis posuere. In consequat, arcu at dictum posuere, turpis magna vestibulum nunc, vitae tempus
  diam mi quis mauris. Proin quam augue, tempor quis mattis nec, volutpat ac quam. Donec mi velit, placerat non 
  fermentum in, ullamcorper nec felis. Mauris pellentesque feugiat aliquet.<br><br>

Pellentesque sit amet sem vulputate, convallis nisl in, tempor dolor. Maecenas aliquet in lorem non accumsan.
  Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
  Morbi bibendum mauris nisi. Donec viverra mi in quam consequat rhoncus. Suspendisse a diam odio. 
  Vestibulum ac metus at augue pharetra commodo.
</p>